.map {
  display: grid;
  grid-template-columns: 65px auto;
  grid-auto-rows: 50px auto;
  height: 100%;

  // TODO: вынести в отдельный класс приложения
  min-width: 1024px;
  min-height: 768px;

  &-toolbar {
    grid-column: 1 / 3;
    background-color: #8C8C8C;
    align-items: center;
    display: flex;
  }

  &-tools {
    background-color: #4F4F4F;
  }
}

.canvas-container {
  display: flex;

  > * {
    display: flex;
    margin: auto;
    outline: 1px solid;
  }
}

.editable-field {
  position: absolute;
  border: none;
  outline: none;
  font-size: 20px;
  text-align: center;
}