@import "../../common/style/common";

.house-map {
  display: flex;
  height: 100%;

  &-content {
    position: relative;
    margin-top: 64px;
  }

  .control-block {
    padding: 15px;
    border-right: 1px solid #8C8C8C;
  }

  .map {
    height: 100%;
    width: 100%;
  }

  .form-layer {
    position: absolute;
    bottom: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    padding: 25px;

    &__title {
      width: 500px;
    }
  }
}

.preview-list {
  display: inline-block;
}

.preview-container {
  position: relative;
  padding: 10px 0;
  display: grid;
  margin-right: 10px;
  float: left;

  &__image {
    width: 300px;
    height: 200px;
    margin-top: 10px;
  }

  &__remove-icon {
    position: absolute !important;
    right: 10px;
    bottom: 10px;
  }
}

.layer-container {
  padding: 25px;
  display: flex;

  .layer-image {
    &__image {
      display: block;
      width: 900px;
      height: 800px;
    }
  }

  .layer-list {
    position: relative;
    padding: 25px;

    &__item {
      background: url("../img/layer.svg") no-repeat;
      width: 150px;
      height: 50px;
      display: block;
      position: absolute;

      &[data-active=true] {
        background: url("../img/fill_layer.svg") no-repeat;
      }
    }

    &__title {
      position: absolute;
      width: 150px;
      margin-top: 20px;
    }
  }
}